* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
background-color: #f4f7f8;
color: #333;
}


header {
background-color: #330437;
color: rgb(255, 255, 255);
text-align: center;
padding: 25px;
}


.container {
max-width: 900px;
margin: auto;
padding: 30px 20px;
}


.about, .skills, .contact {
background: white;
padding: 25px;
border-radius: 8px;
margin-bottom: 25px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h2 {
color: #1e293b;
margin-bottom: 15px;
}


.skills ul {
list-style: none;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 10px;
}


.skills li {
background: #e2e8f0;
padding: 12px;
text-align: center;
border-radius: 5px;
font-weight: bold;
}


input, textarea {
width: 100%;
padding: 10px;
margin: 8px 0;
border-radius: 5px;
border: 1px solid #cccccc;
}


button {
background-color: #1e293b;
color: white;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
}


button:hover {
background-color: #334155;
}


footer {
background-color: #1e293b;
color: white;
text-align: center;
padding: 15px;
}